This data is from a cardiovascular study carried ou ton town of Framingham, Massachusetts. The dataset provides details of information of patients on different attributes such as sex of the patient, age, heart rate, behavioral habits etc. and whether the patient has future risk of coronary heart disease. The goal of this project is to predict whether the patient has risk of heart disease using the given dataset.

Data Preparation

In [50]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
ds = pd.read_csv("framingham.csv")
ds

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [52]:
ds.shape

(4238, 16)

Checking number of rows and columns

In [53]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

Identifying column and their data types

In [54]:
ds.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

Checking null values

In [55]:
count=0
for i in ds.isnull().sum(axis=1):
    if i>0:
        count=count+1
per = round((count/(len(ds.index))) * 100)
print('Null value percentage:', per )

Null value percentage: 14

Checking null value percentage

In [56]:
ds.dropna(axis=0, inplace=True)

Since only 14 percent of the total data is null, rows with null values are dropped.

In [57]:
ds

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [59]:
ds.duplicated().sum()

0

In [ ]:
plt.figure(figsize=(15,6))

plt.subplot(2,3,1)


plt.title('Age Distribution Plot')
sns.distplot(ds.age)
plt.show()


plt.title('Cigarretes per day Distribution Plot')
sns.distplot(ds.cigsPerDay)
plt.show()


plt.title('Total cholestrl')
sns.distplot(ds.totchol)
plt.show()

Checking number of duplicated values. There are no duplicates in dataset.

In [12]:
cols = ds.columns[:-1]
cols

Index(['male', 'age', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose'],
      dtype='object')

In [13]:
import statsmodels.api as sm

In [14]:
model=sm.Logit(ds.TenYearCHD,ds[cols])

In [15]:
r = model.fit()
r

Optimization terminated successfully.
         Current function value: 0.400181
         Iterations 6

In [16]:
r.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             TenYearCHD   No. Observations:                 3749
Model:                          Logit   Df Residuals:                     3735
Method:                           MLE   Df Model:                           13
Date:                Tue, 28 Feb 2023   Pseudo R-squ.:                 0.06313
Time:                        10:02:27   Log-Likelihood:                -1500.3
converged:                       True   LL-Null:                       -1601.4
Covariance Type:            nonrobust   LLR p-value:                 4.824e-36
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
male                0.4093      0.103      3.980      0.000       0.208       0.611
age                 0.0285      0.006      4.977      0.000       0.017       0.040
currentSmoker      -0.2377      0.150     -1.581      0.114      -0.532       0.057
cigsPerDay          0.0214      0.006      3.530      0.000       0.010       0.033
BPMeds              0.3233      0.227      1.422      0.155      -0.122       0.769
prevalentStroke     0.7832      0.483      1.621      0.105      -0.164       1.730
prevalentHyp        0.9720      0.122      7.967      0.000       0.733       1.211
diabetes            0.7821      0.291      2.685      0.007       0.211       1.353
totChol            -0.0015      0.001     -1.394      0.163      -0.004       0.001
sysBP               0.0133      0.004      3.544      0.000       0.006       0.021
diaBP              -0.0300      0.006     -5.009      0.000      -0.042      -0.018
BMI                -0.0466      0.012     -3.809      0.000      -0.071      -0.023
heartRate          -0.0228      0.004     -5.814      0.000      -0.030      -0.015
glucose             0.0019      0.002      0.900      0.368      -0.002       0.006
===================================================================================
"""

In [17]:
def ds_elm(ds, dv, cols):
    while len(cols) >0:
        model=sm.Logit(dv,ds[cols])
        result=model.fit(disp=0)
        largest_pvalue=round(result.pvalues,3).nlargest(1)
        if largest_pvalue[0]<(0.05):
            return result
            break
        else:
            cols=cols.drop(largest_pvalue.index)

In [18]:
re= ds_elm(ds,ds.TenYearCHD,cols)

In [19]:
re.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             TenYearCHD   No. Observations:                 3749
Model:                          Logit   Df Residuals:                     3740
Method:                           MLE   Df Model:                            8
Date:                Tue, 28 Feb 2023   Pseudo R-squ.:                 0.05994
Time:                        10:02:31   Log-Likelihood:                -1505.4
converged:                       True   LL-Null:                       -1601.4
Covariance Type:            nonrobust   LLR p-value:                 3.129e-37
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
male             0.4169      0.102      4.093      0.000       0.217       0.617
age              0.0269      0.005      4.911      0.000       0.016       0.038
cigsPerDay       0.0137      0.004      3.366      0.001       0.006       0.022
prevalentHyp     1.0225      0.118      8.657      0.000       0.791       1.254
diabetes         0.9639      0.227      4.249      0.000       0.519       1.408
sysBP            0.0137      0.004      3.684      0.000       0.006       0.021
diaBP           -0.0311      0.006     -5.230      0.000      -0.043      -0.019
BMI             -0.0467      0.012     -3.876      0.000      -0.070      -0.023
heartRate       -0.0245      0.004     -6.504      0.000      -0.032      -0.017
================================================================================
"""

In [20]:
import sklearn

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
dss=ds[['age','male','cigsPerDay','sysBP','diaBP','BMI','heartRate','diabetes','prevalentHyp', 'TenYearCHD']]

In [23]:
x = dss.iloc[:, :-1]
y = dss.iloc[:, -1]

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=0)

In [25]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)

In [26]:
sklearn.metrics.accuracy_score(y_test,y_pred)

0.8493333333333334

In [27]:
import pickle

In [28]:
model = 'model.sav'

pickle.dump(logreg, open(model, 'wb'))

In [29]:
l = pickle.load((open("model.sav","rb")))

In [30]:
s = l.predict(x_test)

In [31]:
sklearn.metrics.accuracy_score(y_test,s)

0.8493333333333334